@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

/* common style  */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 870px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 15px;

}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 0;
}

hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;
}

/* top player style  */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player-photo img {
    width: 56px;
    height: 56px;
}

.player-name {
    font-size: 18px;
    margin-left: 16px;
}


/* Top blog style  */

.blog .thumbnail img {
    width: 224px;
    height: 127px;
}

.blog-info {
    margin-left: 16px;
}

.blog-info h4 {
    font-size: 20px;
    font-weight: 500;
}

.blog-info p {
    font-size: 16px;
    font-weight: 500;
    color: #9F9F9F;
}

.blog-info a {
    text-decoration: none;
    color: #562EFF;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;

}

.blog {
    display: flex;
    align-items: center;
}

/* Course style   */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}

.course {
    Width: 252.42px;
    Height: 269.79px;
    box-shadow: 10px 10px 30px rgba(211, 211, 211, 0.397);
    border-radius: 10px;
    padding: 20px 10px
}

.course .thumbnail img {
    width: 224px;
    height: 104px;
}

.course-detail h4 {
    font-size: 20px;
    font-weight: 500;
}

.course-detail p {
    font-size: 15px;
    color: #ED6B4F;
    font-weight: 400;
}

.cours-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.fas.fill {
    color: #FFC014;
}

.fas.empty {
    color: #AEAEAE;
    opacity: 0.25;
}

.time {
    padding: 2px 5px;
    background-color: #ff4a5f69;
    color: #FF4A60;
    border-radius: 10px;
}


/* media quarry  */

@media only screen and (max-width: 668px) {
    .container {
        width: 100%;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    .player,
    .blog {
        flex-direction: column;
    }

    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .course {
        margin: 0 auto;
    }

    .blog .thumbnail img {
        width: 170px;
    }
}



@media only screen and (min-width: 667px) and (max-width: 997px) {
    .container {
        width: 100%;
    }

    .players,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .player {
        margin: 0 auto;
    }

    .blog {
        flex-direction: column;
    }
}